.expense-chart{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 1rem;
    margin: 3rem 0;
    border-radius: 15px;
    background-color: #FFF5E4;
    height: 10rem;
}