.chart-bar {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .inner-chart {
    height: 100%;
    width: 15px;
    border: 1.4px solid #EE6983;
    border-radius: 12px;
    background-color: #FFE2E2;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .fill-bar {
    background-color: #EE6983;
    width: 100%;
    transition: all 0.3s ease-out;
  }
  
  .label-bar {
    font-weight: bold;
    padding-top: 0.5px;
    font-size: 0.5rem;
    text-align: center;
    color: #790252;
  }